body{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}
.main_div{
  width:100%;
  height:100vh;
  background: #6983aa;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  text-align:center;
}
.center_div{
  width:25%;
  height: 80vh;
  background: #f4f4f4;
  border-radius:15px;
  box-shadow: 1px 1px 14px 3px rgba(33,9,78,0.75);
-webkit-box-shadow: 1px 1px 14px 3px rgba(33,9,78,0.75);
-moz-box-shadow: 1px 1px 14px 3px rgba(33,9,78,0.75);
}

h1{
  color:white;
  background: transparent;
  background: #8566aa;
  padding: 6px 0 6px 0;
  margin-bottom: 10px;
  box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.3);
-webkit-box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.3);
}

input{
  text-align: center;
  height:30px;
  top:10px;
  border:none;
  background: transparent;
  font-size:20px;
  font-weight:500;
  width:60%;
  border-bottom: 2px solid #8566aa;
  outline:none;
}

button{
  min-height: 40px;
  width:40px;
  border-radius:50%;
  border-color: transparent;
  background: #8566aa;
  color:#fff;
  font-size: 20px;
  border:none;
  outline:none;
  margin-left:20px;
}
button:hover{
  background: #20bf6b;
}

ol{
  margin-top:30px;
}

ol li{
  padding-left:0px;
  /* margin-left:-50px; */
  text-align: left;
  font-size:20px;
  font-weight:500;
  min-height:40px;
  display:flex;
  justify-content: center;
  align-items: center;
  color:#8566aa;
  text-transform: capitalize;
}
.todo_style{
  display:flex;
  flex-direction: row;
  justify-content:left;
  align-items:center;
}
.todo_style .fa-times{
  width:20px;
  height:20px;
  display:flex;
  justify-content:center;
  align-items: center;
  background-color: #8566aa;
  border-radius: 50%;
  margin:0 15px 0 35px;
  color:aliceblue;
}
.todo_style .fa-times:hover{
  background-color:crimson;
}
